/*Color and fonts*/
body{
	background-color: darkred;
	color: rgb(30, 30, 30);
	font-family: Calibri;
	font-size: 15px;
	font-weight: lighter;
}

h1 {
   color: darkblue;	
   font-family: font-family: 'Lora', serif;
   font-weight: 900;
   letter-spacing: 2px;
   font-size: 40px ;
   text transformation: uppercase ;
}

h2 {
   color: red;
   font-family: font-family: 'Playfair Display', serif;
   font-size: 26px;
   font-weight: lighter;  
}

a{
  text-decoration: none;
  color: blue;
  font-weight: bold ;
  font-weight: 600;
  font-size: 16px;
}

a: hover{
	color: black;
}


/*Custom design with class*/

.container {
    width: 700px;
   margin: 40px auto;
}

@media(max-width: 750px) {
	.container{
		width: 600px;
	}

}

@media(max-width: 500px) {
	.container{
		width: 400px;
	}


}

.card-white {
   background-color: white;
   padding: 40px;
   box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
   border-radius: 4px; 
   margin: 20px 0px;
   text-align: center;
}


.img-circle{
	border-radius: 50%;
}

.btn-blue{
	background-color: blue;
	color: white;
	padding: 15px 20px;
	border-radius: 4px ;
}

.btn-blue:hover{
	background-color: black;
	color: white;
}
 
.list-inline{
	 list-style: none;
	 padding-left: 0px;
}

.list-inline li{
	display: inline;
	padding: 10px;
}

.list-inline i{
	font-size: 50px;
	color: blue;

}

.list-inline i:hover {
	font-size: 50px;
	background-color: white;
	color: black;
}
 
 /*Design adjustment*/

#introduction p{
 	margin-bottom: 40px;
 }

